$offset: 20px;

* {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/BG_PC.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-top: 0px;
  position: relative;
  margin-left: auto;
}

.border-overlay-title {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 36%;
  height: 65px;
  z-index: 2;
  pointer-events: none;
  @media screen and (max-width: 880px) {
    width: 105%;
    margin-top: 95px;
  }
}

.my-frame-Title {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/Fond_anim.gif);
  background-repeat: repeat;
  background-size: 32px 49px;
  opacity: 0.7;
  text-align: center;
  width: 35%;
  height: 50px;
  margin-top: 0px;
  z-index: 1;

  $calculationNav: calc(100% - 35px);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  @media screen and (max-width: 880px) {
    width: 100%;
    left: 0; // Ajustez la position de gauche
    transform: none; // Supprimez la translation
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  h1 {
    font-weight: bold;
    margin: 0;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    z-index: 3;
    @media screen and (max-width: 1370px) {
      font-size: 30px;
    }
    @media screen and (max-width: 1245px) {
      font-size: 25px;
    }
    @media screen and (max-width: 980px) {
      font-size: 20px;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.body {
  display: flex;
  margin-top: 100px;
  margin-left: auto;
  margin-right: 30px;
  width: 80%;
  align-items: flex-end;

  @media screen and (max-width: 880px) {
    margin-top: 175px;
    width: 100%;
    margin-left: 50%;  // Ajustez la marge gauche à 50%
    transform: translateX(-50%);  // Utilisez transform pour centrer
    margin-right: 0;
    align-items: center;
  }
}

.border-overlay-nav {
  position: fixed;
  top: 50%; // Centrer verticalement
  left: 0;
  transform: translateY(-50%); // Centrer verticalement
  width: 170px;
  height: 81%; // Ajout de la hauteur
  pointer-events: none;
  z-index: 1;

  @media screen and (max-width: 880px) {
    display: none;
  }
}

nav {
  position: fixed;
  top: 50%; // Centrer verticalement
  left: 0;
  transform: translateY(-50%); // Centrer verticalement
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  height: 81%; // Ajout de la hauteur
  width: 160px;
  padding: 20px;
  background-image: url(./assets/Fond_anim.gif);
  background-repeat: repeat;
  background-size: 32px 49px;
  opacity: 0.7;
  text-align: center;

  $calculationNav: calc(100% - 35px);
  clip-path: polygon(0 0, #{$calculationNav} 0%, 100% 35px, 100% #{$calculationNav}, #{$calculationNav} 100%, 0 100%);
  
  @media screen and (max-width: 880px) {
    position: fixed; // Permet au .my-frame-Nav d'être positionné par rapport à son contenant
    top: auto; // Ajuste la position verticale si nécessaire
    left: auto; // Ajuste la position horizontale si nécessaire
    transform: none; // Supprime la translation
    width: 100%; // Prend toute la largeur
    margin-top: 49px; // Ajoute un espace entre le titre et la navigation
    flex-direction: row; // Change la disposition à l'horizontale
    height: 100px; // Ajuste la hauteur si nécessaire
    z-index: 1;

    clip-path: polygon(0 0, 100% 0, 100% 70%, 75% 100%, 25% 100%, 0% 70%);

  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-family: "Anta", sans-serif;
    font-weight: 400, bold;
    font-style: normal;
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    margin-bottom: 10px;
    @media screen and (max-width: 590px) {
      font-size: 14px;
    }

    img {
      width: auto;
      height: 100px;
      opacity: 0.7;
      &:hover {
        opacity: 1;
        color: cyan;
      }
      @media screen and (max-height: 850px) {
        width: auto;
      height: 80px;
      }
      @media screen and (max-height: 760px) {
        width: auto;
      height: 70px;
      }
      @media screen and (max-height: 700px) {
        width: auto;
      height: 60px;
      }
      @media screen and (max-height: 650px) {
        width: auto;
      height: 50px;
      }

      @media screen and (max-width: 880px) {
        width: auto;
      height: 50px;
      margin-top: -10px;
      margin-left: 30px;
      margin-right: 30px;
      }

      @media screen and (max-width: 590px) {
        width: auto;
      height: 30px;
      margin-top: -10px;
      margin-left: 22px;
      margin-right: 22px;
      }
    }
  }
}

.JS_Max {
  @media screen and (max-width: 880px) {
    display: none;
  }
}

.JS_Min {
  display: none;
  @media screen and (max-width: 880px) {
    display: flex;
    flex-direction: column;
  }
}

.my-frame {
  flex-grow: 1;
  padding: 20px;
  background-image: url(./assets/Fond_anim.gif);
  background-repeat: repeat;
  background-size: 32px 64px;
  opacity: 0.7;
  text-align: left;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;

  $calculation: calc(100% - #{$offset});
  clip-path: polygon(#{$calculation} 0, 100% #{$offset}, 100% 100%, 0 100%, 0 0);

  border: 2px solid black;

  p {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    @media screen and (max-width: 780px) {
      font-size: 16px;
    }

    @media screen and (max-width: 330px) {
      font-size: 14px;
    }
  }
}
